* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    flex-flow: row wrap;
}

header {
    position: static;
    width: 100%;
    height: 750px;
    padding: 75px 55px 50px 55px;
}

.sobre {
    width: 65%;
    position: absolute;
}

header h1 {
    font-size: 2.5em;
    margin-top: 75px;
    margin-bottom: 10px;
    color: rgb(99, 99, 99);
}

header p {
    margin-top: 35px;
    margin-bottom: 10px;
}

#redesSociais {
    margin-top: 45px;
    margin-bottom: 65px;
}

#redesSociais a {
    font-size: 1.5em;
    color: #bbb;
    padding-right: 25px;
}

#redesSociais a:hover {
    color: rgb(110, 178, 255);
    transition: color 0.5s ease-in-out;
}

.bt {
    color: #fff;
    background-color: #3b80fe;
    padding: 15px 65px;
    border-radius: 50px;
    transition: filter 0.5s ease-in-out;
}

.bt:hover {
    filter: drop-shadow(5px 5px 5px rgba(32, 32, 32, 0.5));
}

main {
    width: 100%;
}

main article {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px;
    color: #fff;
}

main article img {
    max-width: 100%;
    vertical-align: middle;
    margin: 30px auto;
}

main article h3 {
    font-weight: 400;
}

.descricao {
    position: absolute;
    bottom: 50px;
}

.socialMain {
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: rgba(255,255,255,0.6);
}

.socialMain:hover {
    transition: color 0.5s ease-in-out;
    color: #fff;
}

article img {
    width: 100%;
}

.artigo1 {
    background-color: orange;
}

.artigo2 {
    background-color: purple;
}

.artigo3 {
    background-color: green;
}

.artigo4 {
    background-color: crimson;
}

.artigo5 {
    background-color: darkblue;
}

.artigo6 {
    background-color: rgb(233, 93, 0);
}

.artigo7 {
    background-color: firebrick;
}

aside {
    width: 100%;
    padding: 40px 80px;
    background-color: #f7f7f7;
}

aside div {
    width: 100%;
    padding: 40px 0px;
    border-bottom: 10px solid #ddd;
}

aside div:last-child {
    border-bottom: 0;
}

footer {
    width: 100%;
    padding: 30px;
    background-color: #1f1f1f;
    color: #ccc;
    text-align: center;
}

@media screen and (min-width:1000px) {
    header {
        position: fixed;
        left: 0;
        top: 0;
        width: 40%;
        height: 100%;
        padding: 75px 85px 50px;
    }

    header p {
        padding-right: 25px;
    }

    main, aside, footer {
        margin-left: 40%;
    }

    main article img {
        max-width: 100%;
        vertical-align: middle;
        margin-left: 25%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    article img {
        width: 50%;
    }

    .socialMain {
        font-size: 1.5em;
    }
}